.save-footer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  position: relative;
}

.save-button {
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.56em 1.12em;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 0.3em;
  transition: background-color 0.3s;
}


.termine-button {
  margin-left: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.56em 1.12em;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 0.3em;
  transition: background-color 0.3s;
}

.termine-button.complete {
  background-color: #28a745;
}

.termine-button.complete:hover {
  background-color: #1e7e34;
}

.termine-button.incomplete {
  background-color: #dc3545;
}

.termine-button.incomplete:hover {
  background-color: #c82333;
}

.save-button:hover {
  background-color: #0056b3;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #1976d2;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin-left: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
