<div
  class="scenario-card"
  (click)="onSelect()"
  [ngClass]="{ selected: isSelected }"
>
  <!-- Display mode -->
  <div class="header-section">
    <div class="header">
      <h5 class="title">{{ category.name }}</h5>
      <p class="sub-title">{{ category.description }}</p>
    </div>
  </div>

  <hr />

  <div class="metrics">
    <div class="metric">
      <span>Émissions totales</span>
      <p>{{ formatNumber(category.totalEmission) }} tCO₂e</p>
    </div>
    <div class="metric">
      <span>Réduction</span>
      <p>{{ formatNumber(category.reductionEstimee) }}%</p>
    </div>
  </div>
</div>
