<div
  class="scenario-card"
  (click)="onSelect()"
  [ngClass]="{ selected: isSelected }"
>
  <!-- Display mode -->
  <div class="header-section">
    <div class="header">
      <h5 class="title">{{ scenario.name }}</h5>
      <p class="sub-title">{{ scenario.description }}</p>
    </div>
  </div>

  <hr />

  <div class="metrics">
    <div class="metric">
      <span>Émissions totales</span>
      <p>{{ scenario.totalEmission }}</p>
    </div>
    <div class="metric">
      <span>Réduction</span>
      <p>{{ scenario.reductionEstimee }}</p>
    </div>
  </div>
</div>
