.main-container {
  background-color: #E6F0FF;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.left-panel {
  max-width: 900px;
  margin: 0 auto;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

h3 {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #34495e;
}

.question-title {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #2980b9;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;

  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    margin-top: 0.3rem;
    display: block;
    width: 220px;
    padding: 0.4rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;

  &:hover {
    background-color: #2980b9;
  }
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  margin-bottom: 2rem;

  th,
  td {
    border: 1px solid #ccc;
    padding: 0.6rem;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
}

.note {
  font-size: 0.9rem;
  color: #7f8c8d;
  margin-top: 1rem;
}

.help-icon {
  margin-left: 0.5rem;
  cursor: pointer;
  color: #000;
  margin-bottom: .75rem;
  font-size: larger;
}

.page-title {
  display: flex;
  align-items: center;
}

details {
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 2rem;

  summary {
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}
.bottom-panel {
  flex: 1;
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  min-width: 0;
  overflow-x: hidden;
  margin-top: 2rem; // pour espacer du contenu précédent
}

.bottom-panel td {
  padding: 0.7em;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f3f3f3; // fond grisé uniforme
}

h2 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #34495e;
}

.import-buttons {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.btn-space {
  margin-right: 1rem;
}
