.gestion-section {
  background-color: white;
  padding: 15px 20px;
  font-family: 'Inter', sans-serif;

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .header {
      h4 {
        font-size: 18px;
        font-weight: 400;
      }
    }
      .btn-tertiary {
        padding: 8px 15px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 8px;
        border: none;
      }
      .btn-tertiary {
        background-color: #f3f4f6;
        color: #1f2937;
        border: 1px solid #d1d5db;
        transition: all 0.3s ease;
        padding: 16px;
      
        &.active {
          background-color: #d1fae5;
          border-color: #10b981;
          color: #065f46;
        }
      }
  }

  .scenario-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 16px;
    cursor: pointer;
  }

  .scenario-details {
    border-radius: 12px;
    padding: 30px 0;

    .details-grid {
      display: flex;
      gap: 24px;
      justify-content: space-between;
      align-items: center;

      .detail {
        flex: 1;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 30px;
        border: 1px solid #e4e7eb;
        border-radius: 14px;
        .detail span {
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 8px;
        }
        div {
            h4{
                font-size: 16px;
                font-weight: 600;
            }
          p {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
  /* === RESPONSIVE === */
  @media (max-width: 768px) {
    .scenario-form {
      flex-direction: column;

      input,
      select {
        flex: 1 1 100%;
      }

      button {
        width: 100%;
      }
    }
  }
}
