<div class="gestion-section">
  <div class="header-section">
    <div class="header">
      <h4>Gestion des scénarios</h4>
      <p>Creez et comparez differentes strategies de reduction</p>
    </div>
    <button class="btn-tertiary" (click)="toggleCompareMode()">
      {{ isComparing ? "Quitter comparaison" : "Comparer" }}
    </button>
  </div>
  <div class="card-section">
    <!-- Scenario cards list -->

    <div class="scenario-grid">
      <div class="scenario-list">
        <app-scenario-card
          *ngFor="let category of categories"
          [category]="category"
          (click)="selectScenario(category)"
          [class.selected]="category === selectedScenario"
        >
        </app-scenario-card>
        >
      </div>

      <div class="scenario-details" *ngIf="selectedScenario">
        <div class="details-grid">
          <div class="detail">
            <span>Émissions totales</span>
            <div>
              <h4>{{ selectedScenario.totalEmission }}</h4>
              <p>tCO₂e</p>
            </div>
          </div>

          <div class="detail">
            <span>Écart avec cible</span>
            <div>
              <h4>{{ selectedScenario.ecartCible.toFixed(4) }}</h4>
              <p>tCO₂e à réduire</p>
            </div>
          </div>

          <div class="detail">
            <span>Réduction estimée</span>
            <div>
              <h4>{{ selectedScenario.reductionEstimee }}</h4>
              <p>vs référence (4875 tCO₂e)</p>
            </div>
          </div>
        </div>
        <div>
          <h3>Gestion des émissions pour {{ selectedScenario.name }}</h3>
          <app-posts
            *ngIf="selectedScenario"
            [posts]="selectedScenario.posts"
            [scenarioName]="selectedScenario.name"
            (totalEmissionsChange)="onTotalEmissionsChange($event)"
            (totalReductionChange)="onTotalReductionChange($event)"
            (reductionRateChange)="onReductionRateChange($event)"
          >
          </app-posts>
        </div>
      </div>
    </div>
  </div>
</div>
