.container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 32px 20px;
  margin: 30px 0;

  .header {
    margin-bottom: 18px;

    .header h3 {
      font-size: 18px;
      margin-bottom: 5px;
      font-weight: 400;
    }

    .header p {
      font-size: 15px;
      margin: 0;
    }
  }
  
    .recommendations {
      display: flex;
      gap: 20px;
  
      .recommendation {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 30px;
        background: rgba(226, 216, 203, 0.705);
        border: 1px solid #e4e7eb;
        border-radius: 14px;
  
        h3 {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 8px;
        }
  
        p {
          font-size: 14px;
          font-weight: 400;
          margin: 0;
          line-height: 1.6;
        }
      }
    }
  }

  