@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


$primary-color: #1976d2;
$secondary-color: #424242;
$accent-color: #f50057;
$background-color: #f9f9f9;
$text-color: #333;

$color-visuels: #FCE6D5;
$color-saisie: #CEE0FE;
$color-parametres: #C4CAD4;

$font-stack: 'Nunito', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: $font-stack;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary-color;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

td{
  background-color: white;
}

.help-icon {
  margin-left: 0.5rem;
  cursor: pointer;
  color: #000;
  margin-bottom: 0.75rem;
  font-size: larger;
}

.page-title {
  display: flex;
  align-items: center;
}
