<header [class.logged-in]="isLoggedIn()">
  <div class="logo">

    <img ngSrc="{{LogoSrc}}" alt="logo" width="77" height="75"/>
    <div class="splitter"><br class="splitter"></div>
    <h1>{{ PageTitle }}</h1>
  </div>

  <div class="header-actions">
    <button class="button primary-button" (click)="goToOutilSuivi()">Outil de suivi</button>
    <button class="button primary-button" (click)="goToTrajectoireCarbone()">Trajectoire carbone</button>
    <button class="button primary-button" (click)="goToPilotageScenario()">Pilotage par scénario</button>
  </div>

  @if (isLoggedIn()) {
    <div class="account-info">
      <div class="info">
        <div class="name">{{ nom() + " " + prenom() }}</div>
        <div class="entity">{{ entite() }}</div>
      </div>

      <div class="dropdown-wrapper">
        <button type="button" (click)="toggleDropdown()">
          <img src="/assets/icons/utilisateur.svg" alt="Utilisateur" width="50" height="50"/>
        </button>

        <ul class="dropdown" *ngIf="dropdownOpen">
          <li>
            <button (click)="goToParams()" mat-button><mat-icon>settings</mat-icon> Paramètres</button>
          </li>
          <li>
            <button (click)="logout()" mat-button><mat-icon>power_settings_new</mat-icon> Se déconnecter</button>
          </li>
        </ul>
      </div>
    </div>
  }

  
</header>
