.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #C4CAD4;
}

.login-form {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20rem;
}

.login-form h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

p, a {
   margin: .5rem 0;
 }


.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.forgot-password {
  display: block;
  text-align: right;
  color: black;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.pwd{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
