<div class="no-scroll">
  <div class="login-container">
    <div class="login-form">
      <h2>Login</h2>
      <form (ngSubmit)="onLogin()">
        <div class="form-group">
          <p>Email:</p>
          <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <div class="pwd">
            <p>Password:</p>
            <a href="#" class="forgot-password" (click)="goToForgotPassword(); $event.preventDefault()">Forgot password?</a>
          </div>
          <div class="password-field">
            <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password" required>
            <button type="button" class="toggle-btn" (click)="togglePasswordVisibility()" aria-label="Afficher ou masquer le mot de passe">
              {{ showPassword ? '👁' : '👁‍🗨' }}
            </button>
          </div>
        </div>
        <button type="submit">Login</button>
        @if (loginError) {
          <p class="error-message">
            Incorrect email or password. Please try again.
          </p>
        }
      </form>
    </div>
  </div>
</div>
