<div class="header-container">
  <div class="boutons-sur-bar">
    <!-- Bouton Accueil -->
    <button class="home-button button" (click)="navigateToDashboard()" mat-button><mat-icon>arrow_back</mat-icon>
      Accueil</button>

    <!-- Texte Année -->
    <span class="year-label">Année : {{ selectedYear - 1 }} - {{ selectedYear }}</span>

    <!-- Bouton Sauvegarder -->
    <button class="button primary-button" (click)="save()" [disabled]="loading">Sauvegarder</button>
    <div class="loader" *ngIf="loading"></div>

    <!-- Trait séparateur -->
    <div class="splitter"><br class="splitter"></div>

    <!-- Boutons Suivi et Récap -->
    <button class="button primary-button" (click)="goToTrajectoire()">Trajectoire</button>
    <button class="button primary-button" (click)="goToSynthese()">Synthèse EGES</button>

    <!-- Changer d'année + Sélecteur -->
    <!--    // todo  faire la méthode au clique-->
    <button class="button year-change-container">
      <span class="year-change-label">Editer l'année :</span>
      <select class="year-select" [(ngModel)]="selectedYear" (ngModelChange)="onYearChange($event)"
        (click)="$event.stopPropagation()">
        <option *ngFor="let year of years" [value]="year.value">
          {{ year.label }}
        </option>
      </select>
    </button>
  </div>

  <!-- Barre de navigation dans un rectangle blanc -->
  <div class="nav-wrapper">
    <div class="nav-container">

      <!-- Conteneur des onglets -->
      <div class="tabs-container" #tabsContainer>
        <div class="tabs" #tabsElement>
          <button *ngFor="let tab of visibleTabs()" #tabBtn [ngClass]="getTabClass(tab)" class="tab"
            (click)="navigateTo(tab)">
            {{ tab }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>