<div class="main-container">
  <div class="panels-wrapper">
    <div class="left-panel">
      <div class="page-title">
        <h2>Déchets</h2>
        <span class="help-icon" title="Lorem ipsum">
        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
          <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="black"></circle>
          <rect x="11" y="10" width="2" height="6" fill="white"></rect>
          <circle cx="12" cy="8" r="1" fill="white"></circle>
        </svg>
      </span>
      </div>
      <table class="data-table">
        <thead>
        <tr>
          <th>Type</th>
          <th>Quantité (tonnes)</th>
          <th>Traitement</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.type }}</td>
          <td>
            <input
              type="number"
              class="value-input"
              [(ngModel)]="item.quantiteTonne"
              min="0"
              (blur)="updateData()"
            />
          </td>
          <td>
            <select
              class="unit-select"
              [(ngModel)]="item.traitement"
              (change)="updateData()"
            >
              <option [ngValue]="null">-- Sélectionner --</option>
              <option
                *ngFor="let t of getTraitementsPour(item.type)"
                [ngValue]="t"
              >
                {{ t }}
              </option>
            </select>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
    <div class="right-panel">
      <h2>Résultats des émissions GES</h2>
      <table class="data-table">
        <thead>
        <tr>
          <th>Indicateur</th>
          <th>Valeur</th>
          <th>Unité</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Total - poste bâtiment</td>
          <td>{{ resultat?.totalProduit ?? '–' }}</td>
          <td>tCO₂e</td>
        </tr>
        <tr>
          <td>Total émissions évitées</td>
          <td>{{ resultat?.totalEvite ?? '–' }}</td>
          <td>tCO₂e</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-save-footer [path]="ONGLET_KEYS.Dechets" (estTermineChange)="onEstTermineChange($event)"></app-save-footer>
</div>
